<div id="lbp-footer" class="container" style="background-color: <%= @config.dark_color %>;">
	<div class="row">
		<div class="col-xs-11 col-md-4">
	  	<%= link_to "A Lombard Press Project", "http://lombardpress.org" %><br/>
	  	<%= link_to "A Sentences Commentary Text Archive Uttilization", "http://scta.info" %>
  	</div>
  	<div class="col-xs-11 col-md-4">
  	</div>
  	<div class="col-xs-11 col-md-4">
  	</div>
	</div>
</div>