<div id="lbp-main-header" class="container text-center">
  <h1 style="letter-spacing: 10px; text-transform: lowercase; margin-top: 11px; margin-bottom: 5px;">An LBP Site</h1>
  <h2 style="font-weight: normal; letter-spacing:5px; text-transform:uppercase; font-size: 14px; margin-top:0;">A subheading</h2>
</div>
<div id="lbp-linkbar-container" class="container">
  <ul id="lbp-navbar" class="nav nav-pills nav-justified">
    <li><a href="/">Home</a></li>
    <li><a href="/text">Text</a></li>
    <li><a href="/biography">Biography</a></li>
    <li><a href="/bibliography">Bibliography</a></li>
    <li><a href="/index">Index</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</div>