<div id="lbp-home-body" class="container">
	<div id="lbp-home-picture" >
    <div id="lbp-descrip-banner">
        <h2 id="lbp-projectdescription"><%= @banner_message %></h2>
    </div>

    <div id="left" class="coversquare">
    </div>

    <div id="right" class="coversquare">
        
    </div>
</div>
</div>