<div class="container">
	<div id="draftview" class="container">
		<h3>Draft Permission</h3>
		<p>Depending on the state of a transcriptions, editors will often designate their text as a "draft". This means that, while an edition or transcription, has been started it is not yet ready to be viewed by the public. Often an editor will allow and interested reader access to the text, with the understanding that the text is a work in progress.</p>

		<p>To view this text you will need to first create a user account and then request "draft permissions"</p>
	</div>
	<div id="postpermissions" class="container">
		<h3>Post permissions</h3>
		<p>Only admins or editors can currently post a research note. If you have helpful information to contribute (such as a new relevant publication or web resource), consider emailing an editor and asking him or her to post the information. See <%= link_to "the about page", "articles/about" %> for editor contact information.

	</div>
