<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>This is a confirmation that of you have submitted a request to view a private draft version of <%= @item_title %> in <%= @commentaryid %></h3> 
    
    <p>The current managing editor of this text has been notified and will review your request.</p>
		
		<p>You'll be notified by email when your request is either granted or denied.</p>
		
		<p>If accepted, please remember that you are being granted access to a work in various states of progress. Please use the comments feature liberally and charitably in order to help make the text better. Likewise, when quoting or discussing a text you've been granted access to, please acknowledge the manner in which this site and the digital availablity of the text faciliated your discovery.</p>

    
    <p>This site is still in development so there may be many problems. If you have problems, comments, or issues with the site please contact <a href="mailto:jeffreycwitt.@gmail.com">jeffreycwitt@gmail.com</a></p>
  </body>
 </html>
      