<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>You've been granted access  <%= @item_title %>. Sign in and visit the text at <a href="<%= "#{@commentaryid}.lombardpress.org/text/#{@itemid}" %>"><%= "#{@commentaryid}.lombardpress.org/text/#{@itemid}" %></a></h3> 
    
    <p>Please remember that you are being granted access to a work in various states of progress. Please use the comments feature liberally and charitably in order to help make the text better. Likewise, when quoting or discussing a text you've been granted access to, please acknowledge the manner in which this site and the digital availablity of the text faciliated your discovery.</p>

    
    <p>This site is still in development, so there may be many problems. If you have a problem, comment, or issue with the site please contact <a href="mailto:jeffreycwitt.@gmail.com">jeffreycwitt@gmail.com</a></p>
  </body>
 </html>