<div class="container lbp-index-container">
	<h1>Index</h1>
	<table class="table table-striped table-hover">
			<tr>
			<!-- instead of goin to an categories page first via /index/names categories
			I'm goin go straing to the names all list -->
				<td><%= link_to "Names", "/index/names/list/All" %></td>
			</tr>
			<tr>
				<td><%= link_to "Titles", "/index/titles/list/All" %></td>
			</tr>
			<tr>
				<td><%= link_to "Quotations", "/index/quotes/list/All" %></td>
			</tr>
			
	</table>
</div>
