<div class="container lbp-index-container">
	<h1>Index</h1>
	<table class="table table-striped table-hover">
			<tr>
			<!-- instead of goin to an categories page first via /index/names categories
			I'm goin go straight to the names all list -->
				<td><%= link_to "Names", "/index/#{@expressionid}/names/list/All" %></td>
			</tr>
			<tr>
				<td><%= link_to "Titles", "/index/#{@expressionid}/titles/list/All" %></td>
			</tr>
			<tr>
				<td><%= link_to "Quotations", "/index/#{@expressionid}/quotes/list/All" %></td>
			</tr>
			
	</table>
</div>
