<div class="container lbp-index-container">
	<h1>Index</h1>
	<table class="table table-striped table-hover">
			<tr>
				<td><%= link_to "Names", "/index/names/categories" %></td>
			</tr>
			<tr>
				<td><%= link_to "Titles", "/index/titles/categories" %></td>
			</tr>
			<tr>
				<td><%= link_to "Quotations", "/index/quotations/categories" %></td>
			</tr>
			<tr>
				<td><%= link_to "Subjects", "/index/subjects/categories" %></td>
			</tr>
		
	</table>
</div>
