<div style="font-size: 12px;">
  <h3>Discussions in External Articles</h3>
  <p><a href="{{this.body.id}}">{{this.body.id}}</a></p>
  <p style="font-size: 11px; text-indent: 10px">{{this.body.value}}</p>
</div>
