{{!-- this is handlebars template for text info --}}

<div class="row" style="height: 400px">
	<div class='col-sm-6 lbp-text-col' id="lbp-text-col-left" style="height: 100%; overflow: auto">

	</div>
	<div class='col-sm-6 lbp-text-col' id="lbp-text-col-right" style="height: 100%; overflow: auto">


	</div>
</div>
