{{!-- this is handlebars template for text info --}}

<h1>Paragraph {{paragraph_number}}</h1>
<p>is part of text {{itemid}}</p>
<p>is part of commentary {{commentaryid}}</p>
<p>text {{{paragraph_text}}}</p>
