.footnotepopup-popup {
        position: absolute;
        padding: 10px;
        background-color: $light-color;
        color: black;
        top: 14px;
        left: 0;
        right: 0;
        width: 300px;
        //min-height: 25px;
        //border: 2pt solid #528252;
        font-size: 14px;
        z-index: 1;
        @include border-radius(10px);
        text-align: left;
        @include box-shadow(10px);


      }