/* globalvariables */

$dark-color: #BBCEBE; //plaoul color
//$dark-color: #BBBBCE; //wodeham color
$light-color: #E6EDE8; //plaoul color
//$light-color: #E6E6ED; //wodeham color
$text-color: black;
$text-bgcolor: white;
$navbar-default-bg:    $dark-color;
