//this is style sheet for the open sea dragon image display which occurs 
//inside the bottom window

//divs
#lbp-para-zoom-container{}
#lbp-para-zoom-navbar{ 
	margin-bottom: 5px;
	}
#lbp-para-text-window{
	float: left; 
	width: 500px; 
	margin-left: 10px
}
#lbp-para-picture-window{
	 float: left;
}

#lbp-paragraph-ms-text{}