#lbp-side-window{
	position: fixed;
	margin-top:50px;
	margin-bottom:50px;
	top: 0;
	height: 100%;
	width: 0px;
	display: none;
	overflow: scroll;
	z-index: 1;
	padding: 1%;
	box-sizing: content-box;

}
#lbp-max-side-window{display: none}

#lbp-side-window-container{padding-bottom: 100px}

.lbp-side-bar-paragraph-heading a{cursor: pointer}
