// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lbp-post-show-container{
	margin: auto; 
	width: 60%; 
	border-bottom: 1px solid gray;
	margin-bottom: 20px;}

.lbp-post-header{
	
	padding-bottom: 0px;
	p{font-size: 12px; 
		padding: 0px; 
		margin: 0px; 
		text-align: center;
	}
	h1{}
}

.lbp-post-body{ 
	padding: 20px}

.lbp-post-footer{
	margin-bottom: 10px;
}