// Place all the styles related to the text controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalvariables";
#lbp-text-body {margin-top: 100px; width: 60%; max-width: 800px; text-align: justify}
//#lbp-text-body{}
#lbp-text-tool-bar {background-color: $light-color;}
h1, h2, h3, h4, h5, h6 {font-size: 20px; text-align: center;}
.paragraphnumber {padding-right: 15px; margin-left: 0px; font-weight: bold;}

///test index page styles

#lbp-question-container {text-align: left; h2 {text-align: left;}}


//span styles
.lbp-folionumber {border-left: 2px solid gray;
	border-right: 2px solid gray;
	padding-right: 3px; padding-left: 3px; color: gray; }

.lbp-title {font-style: italic}
.lbp-name {font-variant: small-caps}
.lbp-unclear {font-color: gray;}
.lbp-add {color: blue;}
.lbp-del {color: red; text-decoration: line-through}
.plaoulparagraph {position: relative;}
.paragraphnumber {position: absolute; left: -30px; text-align: right;}
.lbp-paragraphmenu {cursor: pointer; padding-left: 10px;  color: gray;}
.lbp-paragraphmenu:hover {color: $link-hover-color;}
#lbp-collation-selector-form {text-align: center; select {height: 30px; background-color: white;} input {height: 30px;}}
#lbp-collation-selector {border-bottom: 1px dashed black; margin-bottom: 7px; padding-bottom: 7px;}

//toggle class required for javascript question filter
.lbp-hidden {display: none}

//marginal note style for diplomatic transcriptions
.lbp-marginal-note {
	position: absolute;
	left: -150px;
	width: 100px;
	height: 20px;
	overflow: hidden;
	border-top: 1px solid $dark-color;
	//background-color: $light-color;
  background-color: white;
	padding: 5px;
	text-align:right;
	line-height: 125%;
	font-size: 10px;
}
.lbp-marginal-note:hover{
	z-index: 1;
	background-color: $light-color;
	height: auto;
	overflow: visible;
}
