// Place all the styles related to the text controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "globalvariables";
#lbp-text-body {margin-top: 100px; max-width: 60%; text-align: justify}
#lbp-text-tool-bar {background-color: $light-color;}
h1, h2, h3, h4, h5, h6 {font-size: 20px; text-align: center;}
.paragraphnumber {padding-right: 15px; margin-left: 0px; font-weight: bold;}