<div id="lbp-xml-container">
<script type="text/javascript">
$(document).ready(function(){
	$("pre.xmlCode").snippet("xml", {style: "acid"});
});
</script>

<pre id="lbp-xml" class="xmlCode"><%= @p %></pre>
</div>